* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}
nav {
  background: #fff;
  /* padding-top: 10px; */
  height: 90px;
  width: 100%;
  padding-top: 10px;
}
label.logo {
  color: #000;
  font-size: 35px;
  line-height: 80px;
  padding: 0 70px;
  font-weight: lighter;
}
label.logo img {
  /* padding-top: 10px; */
  width: 40px;
}
label.logo .syntax {
  font-size: 1.3em;
  margin-left: 9px;
  color: #005eff;
  font-family: "Poppins", sans-serif;
  /* margin-bottom: 10px; */
}
nav ul {
  float: right;
  padding-top: 8px;
  padding-right: 60px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: #000;
  font-size: 0.9em;
  text-transform: capitalize;
  padding: 7px 13px;
  border-radius: 3px;
  font-weight: 500;
  font-family: sans-serif;
}

a:hover {
  color: #005eff;
  text-decoration: none;
}
nav ul li:first-child a {
  color: #005eff;
}
a.active {
  background: #005eff;
  transition: 0.5s;
  text-decoration: none;
  color: #fff;
  padding: 18px 26px;
  font-family: sans-serif;
}
a.active {
  font-size: 1em;
}
.checkBtn {
  color: #000;
  font-size: 30px;
  float: right;
  line-height: 80px;
  padding-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 1024px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
  a.active {
    background: #005eff;
    transition: 0.5s;
    text-decoration: none;
    color: #fff;
    padding: 14px 20px;
    font-family: sans-serif;
  }
}
@media (max-width: 925px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkBtn {
    display: block;
    color: #005eff;
  }
  label.logo .syntax {
    font-size: 1.2em;
    margin-left: 5px;
  }
  label.logo img {
    padding-top: 12px;
    width: 20px;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #f7f7fa;
    top: 80px;
    left: -100%;
    transition: all 0.5s;
    text-align: center;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
    text-decoration: none;
  }
  nav ul li a {
    font-size: 20px;
    color: #005eff;
  }
  a.active,
  a:hover {
    background: none;
    color: #005eff;
  }
  a.active {
    font-size: 20px;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
@media (max-width: 400px) {
  label.logo {
    padding-right: 60px;
    padding-left: 8px;
  }
  label.logo .syntax {
    font-size: 0.9em;
    margin-left: 3px;
  }
  label.logo img {
    padding-top: 12px;
    width: 18px;
  }
}
/* End of nav */

.header {
  clear: both;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding-left: 65px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.header-inner1 {
  padding-top: 90px;
}
.header-inner1 h2 {
  font-size: 2.2em;
  letter-spacing: 1px;
  line-height: 54px;
  font-weight: 600;
  /* font-family: sans-serif; */
  font-family: "Poppins", sans-serif;
}
.header-inner1 #h2 {
  margin-bottom: -10px;
}
.header-inner1 #elite {
  padding-top: 20px;
}
.header-inner1 #elite p {
  font-size: 0.9em;
  font-weight: 400;
  font-style: normal;
  line-height: 25.2px;
  font-family: "Poppins", sans-serif;
}
.header-inner1 #btn {
  padding-top: 2.3em;
}
.header-inner1 #btn button {
  font-size: 0.88em;
  line-height: 21px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
}
button.view {
  color: #fff;
  background-color: #005eff;
  border: none;
  border-radius: 4px 4px;
  margin-right: 10px;
  padding: 20px 25px;
}
button.temp {
  background-color: #fff;
  color: #005eff;
  border-color: #005eff;
  border-radius: 4px 4px;
  padding: 18px 30px;
}
.header-img {
  padding-right: 3.5em;
}
.header-img img {
  max-width: 100%;
}
@media (min-width: 1400px) {
  .header-img {
    width: 626px;
    height: 467px;
    padding-right: 60px;
  }
}
@media (max-width: 1024px) {
  .header {
    padding-bottom: 0px;
  }
  .header-inner1 {
    padding-top: 30px;
  }
  .header-inner1 h2 {
    font-size: 2em;
    letter-spacing: 1px;
    line-height: 54px;
    font-weight: 600;
    /* font-family: sans-serif; */
    font-family: "Poppins", sans-serif;
  }
  .header-inner1 #h2 {
    margin-bottom: -17px;
  }
  .header-inner1 #elite {
    padding-top: 20px;
  }
  .header-inner1 #elite p {
    font-size: 0.8em;
    font-weight: 400;
    font-style: normal;
    line-height: 25.2px;
    font-family: "Poppins", sans-serif;
    margin-bottom: -10px;
  }
  .header-inner1 #btn {
    padding-top: 2.3em;
  }
  .header-inner1 #btn button {
    font-size: 0.88em;
    line-height: 21px;
    font-style: normal;
    font-family: "Poppins", sans-serif;
  }
  button.view {
    color: #fff;
    background-color: #005eff;
    border: none;
    border-radius: 4px 4px;
    margin-right: 10px;
    padding: 18px 20px;
  }
  button.temp {
    background-color: #fff;
    color: #005eff;
    border-color: #005eff;
    border-radius: 4px 4px;
    padding: 16px 20px;
  }
  .header-img {
    width: 560px;
    height: 467px;
    padding-right: 55px;
  }
}
@media (max-width: 768px) {
  .header-inner1 {
    padding-top: 30px;
    /* text-align: center; */
  }
  .header-inner1 h2 {
    font-size: 1.6em;
    letter-spacing: 1px;
    line-height: 54px;
    font-weight: 600;
    /* font-family: sans-serif; */
    font-family: "Poppins", sans-serif;
    /* text-align: center; */
  }
  .header-inner1 #h2 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    /* text-align: center; */
  }
  .header-inner1 #for {
    margin-top: -20px;
    /* text-align: center; */
  }

  .header-inner1 #elite p {
    font-size: 0.68em;
    font-weight: 400;
    font-style: normal;
    line-height: 25.2px;
    font-family: "Poppins", sans-serif;
  }
  .header-inner1 #elite {
    padding-top: 7px;
    /* text-align: center; */
  }
  .header-inner1 #btn {
    padding-top: 2em;
  }
  .header-inner1 #btn button {
    font-size: 0.88em;
    line-height: 21px;
    font-style: normal;
    font-family: "Poppins", sans-serif;
  }
  button.view {
    color: #fff;
    background-color: #005eff;
    border: none;
    border-radius: 4px 4px;
    margin-right: 10px;
    padding: 16px 18px;
  }
  button.temp {
    background-color: #fff;
    color: #005eff;
    border-color: #005eff;
    border-radius: 4px 4px;
    padding: 14px 18px;
  }
  .header-img {
    width: 370px;
    height: 370px;
    padding-right: 30px;
    padding-top: 2em;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .header {
    padding-top: 10px;
    flex-flow: wrap-reverse;
  }
  .header-inner1 {
    padding-top: 10px;
    /* text-align: center; */
  }
  .header-inner1 h2 {
    font-size: 1.5em;
    letter-spacing: 1px;
    line-height: 54px;
    font-weight: 600;
    /* font-family: sans-serif; */
    font-family: "Poppins", sans-serif;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .header-inner1 #for {
    margin-top: -26px;
    text-align: center;
  }
  .header-inner1 #h2 {
    /* margin-top: -26px; */
    text-align: center;
  }
  .header-inner1 #elite {
    padding-top: 0px;
    text-align: center;
  }
  .header-inner1 #elite p {
    font-size: 0.7em;
    font-weight: 400;
    font-style: normal;
    line-height: 25.2px;
    font-family: "Poppins", sans-serif;
  }
  .header-inner1 #btn {
    padding-top: 2em;
    /* display: block; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 40px;
  }
  .header-inner1 #btn button {
    text-align: center;
    font-size: 0.6em;
    line-height: 19px;
    font-style: normal;
    font-family: "Poppins", sans-serif;
  }
  button.view {
    color: #fff;
    background-color: #005eff;
    border: none;
    border-radius: 4px 4px;
    margin-right: 0px;
    padding: 10px 15px;
    width: 40%;
    margin-bottom: 15px;
  }
  button.temp {
    background-color: #fff;
    color: #005eff;
    border-color: #005eff;
    border-radius: 4px 4px;
    padding: 8px 15px;
    width: 50%;
  }
  .header-img {
    width: 626px;
    height: 300px;
    /* padding-right: px; */
    padding-top: 2em;
    text-align: center;
    padding-right: 30px;
  }
}
@media (max-width: 375px) {
  .header {
    padding-left: 10px;
    padding-top: 0px;
  }
  .header-inner1 {
    width: 400px;
  }
  .header-inner1 h2 {
    font-size: 1.4em;
    letter-spacing: 1px;
    line-height: 54px;
    font-weight: 600;
    /* font-family: sans-serif; */
    font-family: "Poppins", sans-serif;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
  }
  .header-inner1 #for {
    margin-top: -27px;
  }
  .header-inner1 #elite {
    text-align: center;
    padding-top: 0px;
  }
  .header-inner1 #elite p {
    font-size: 0.62em;
    font-weight: 400;
    font-style: normal;
    line-height: 25.2px;
    font-family: "Poppins", sans-serif;
  }
  .header-inner1 #btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
  .header-inner1 #btn button {
    font-size: 0.5em;
    line-height: 17px;
    font-style: normal;
    font-family: "Poppins", sans-serif;
  }
  button.view {
    color: #fff;
    background-color: #005eff;
    border: none;
    border-radius: 4px 4px;
    margin-right: 0px;
    padding: 8px 10px;
  }
  button.temp {
    background-color: #fff;
    color: #005eff;
    border-color: #005eff;
    border-radius: 4px 4px;
    padding: 6px 10px;
  }
}
@media (max-width: 320px) {
  .header-inner1 h2 {
    font-size: 1.2em;
    letter-spacing: 1px;
    line-height: 54px;
    font-weight: 600;
    /* font-family: sans-serif; */
    font-family: "Poppins", sans-serif;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
  }
  .header-inner1 #for {
    margin-top: -30px;
  }
  .header-img {
    width: 626px;
    height: 250px;
    /* padding-right: px; */
    padding-top: 2em;
    text-align: center;
    padding-right: 30px;
  }
}
/* End of header */
.main {
  background: rgba(236, 243, 255, 1);
  padding-top: 80px;
  padding-bottom: 90px;
  box-sizing: border-box;
}
.main-inner1 {
  text-align: center;
}
.main-inner1 h4 {
  font-size: 1.5em;
  font-style: normal;
  line-height: 36px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.main-inner1 #h4 {
  margin-top: -7px;
}
@media (max-width: 425px) {
  .main-inner1 #h4 {
    margin-top: -14px;
  }
}
.main-inner2 {
  box-sizing: border-box;
  text-align: center;
  padding-top: 20px;
}
.main-inner2 p {
  box-sizing: border-box;
  font-size: 1.1em;
  font-style: normal;
  line-height: 27px;
  /* font-family: sans-serif; */
  font-family: "Poppins", sans-serif;
}
.main-inner2 #saver {
  margin-top: -5px;
}
.main-inner3 {
  box-sizing: border-box;
  padding-top: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.main-img div p {
  font-family: "Poppins", sans-serif;
  font-size: normal;
  font-weight: 27px;
  /* text-align: center; */
  font-size: 1.12em;
  padding-top: 10px;
  /* padding-left: 30px; */
}
.main-img div {
  text-align: center;
}
.main-img {
  box-sizing: border-box;
}
.main-img img {
  max-width: 100%;
}

.main-inner3 {
  box-sizing: border-box;
  padding-top: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#mainner {
  padding-right: 50px;
}
.main-img div p {
  font-family: "Poppins", sans-serif;
  font-size: normal;
  font-weight: 27px;
  /* text-align: center; */
  font-size: 1.12em;
  padding-top: 10px;
  /* padding-left: 30px; */
}
.main-img div {
  text-align: center;
}
.main-img {
  box-sizing: border-box;
}
.main-img {
  padding-bottom: 30px;
}
@media (max-width: 425px) {
  .main-inner1 h4 {
    font-size: 1.2em;
    font-style: normal;
    line-height: 36px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }
  .main-inner2 {
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
  }
  .main-inner3 {
    box-sizing: border-box;
    padding-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  #mainner {
    padding-right: 0px;
  }
  .main-img div p {
    font-family: "Poppins", sans-serif;
    font-size: normal;
    font-weight: 27px;
    /* text-align: center; */
    font-size: 1.12em;
    padding-top: 3px;
    /* padding-left: 30px; */
  }
  .main-img {
    padding-bottom: 0px;
  }
  /* .main-inner3 {
    padding-top: 15px;
  } */
  .main-inner2 p {
    box-sizing: border-box;
    font-size: 0.65em;
    font-style: normal;
    line-height: 27px;
    /* font-family: sans-serif; */
    font-family: "Poppins", sans-serif;
  }
  .main-inner2 #saver {
    margin-top: -15px;
  }
  .main-img {
    padding-top: 30px;
  }
}
@media (max-width: 375px) {
  .main-inner2 {
    display: inline-block;
    /* margin-top: -40px; */
  }
  .main-inner2 p {
    box-sizing: border-box;
    font-size: 0.7em;
    font-style: normal;
    line-height: 27px;
    /* font-family: sans-serif; */
    font-family: "Poppins", sans-serif;
  }
}
@media (max-width: 320px) {
  .main-inner2 {
    display: inline-block;
    /* margin-top: -40px; */
    text-align: center;
  }
  .main-inner2 p {
    box-sizing: border-box;
    font-size: 0.57em;
    font-style: normal;
    line-height: 27px;
    /* font-family: sans-serif; */
    font-family: "Poppins", sans-serif;
  }
}
.divider {
  text-align: center;
  display: flex;
  justify-content: center;
}
hr {
  border-bottom: 2px solid #005eff;
  width: 70px;
}
@media (min-width: 1024) {
  .divider {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 1px;
  }
  hr {
    border-bottom: 2px solid #005eff;
    width: 70px;
  }
}
@media (max-width: 425px) {
  .divider {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: -4px;
  }
  hr {
    border-bottom: 2px solid #005eff;
    width: 70px;
  }
}
/* .span {
  margin-top: 10px;
  text-decoration: underline;
  text-decoration-color: #005eff;
  text-decoration-thickness: 3px;
} */
/* End of main */
.section {
  padding-top: 90px;
}
.section-inner1 {
  text-align: center;
  padding-bottom: 30px;
}
.section-inner1 h4 {
  font-size: 1.5em;
  font-style: normal;
  line-height: 36px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.section-inner2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 20px;
}
.section-img img {
  max-width: 100%;
}
.section-img div p {
  font-family: "Poppins", sans-serif;
  font-size: normal;
  font-weight: 27px;
  /* text-align: center; */
  font-size: 1.12em;
  padding-top: 15px;
  /* padding-left: 30px; */
}
.section-img .estate {
  text-align: center;
  padding-bottom: 30px;
}
.sect-img-wrapper1,
.sect-img-wrapper2 {
  box-shadow: 0px 0px 4px 4px rgb(230, 226, 255);
}
@media (max-width: 450px) {
  .section-img .estate {
    padding-bottom: 40px;
  }
}
/* End of section1 */
.Section2 {
  /* padding-top: 0px; */
  padding-bottom: 20px;
}
.Section3 {
  padding-bottom: 50px;
}
@media (max-width: 1500px) {
  .section3 {
    margin-bottom: 70px;
  }
}
@media (max-width: 425px) {
  .section3 {
    margin-bottom: 40px;
  }
}
/* End of section */
.article {
  margin-top: 0px;
  background: rgba(236, 243, 255, 1);
  padding-top: 50px;
  padding-bottom: 90px;
  box-sizing: border-box;
}
.article-inner1 {
  text-align: center;
  padding-bottom: 50px;
}
.article-inner1 h4 {
  font-size: 1.5em;
  font-style: normal;
  line-height: 36px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.article-inner2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 20px;
}
.part1-img img,
.part2-img img {
  max-width: 100%;
}
.part1 div p,
.part2 div p {
  font-family: "Poppins", sans-serif;
  font-size: normal;
  font-weight: 27px;
  /* text-align: center; */
  font-size: 1.12em;
  padding-top: 15px;
  /* padding-left: 30px; */
}
.part1,
.part2 {
  padding-bottom: 30px;
}
.part1 div,
.part2 div {
  text-align: center;
  /* padding-bottom: 30px; */
}
.part2-img {
  box-shadow: 0px 0px 4px 4px rgb(230, 226, 255);
}
/* End of article */
.sub {
  padding-top: 70px;
  padding-bottom: 70px;
}
.sub-inner1 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.sub-inner2 {
  padding-bottom: 20px;
}
.sub-inner3 {
  padding-bottom: 20px;
}
.sub-inner1 h4 {
  font-size: 1.5em;
  font-style: normal;
  line-height: 36px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.sub-inner2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 20px;
}
.sub-inner3 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 20px;
}

.subber1,
.subber2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  /* padding-top: 20px; */
  align-items: center;
}
.subber1-img img,
.subber2-img img {
  max-width: 100%;
}
.subber1-para p,
.subber2-para p {
  font-family: "Poppins", sans-serif;
  font-size: normal;
  font-weight: 27px;
  /* text-align: center; */
  font-size: 1.12em;
  padding-top: 15px;
  /* padding-left: 30px; */
}

@media (max-width: 1200px) {
  .subber1-para,
  .subber2-para {
    padding-left: 20px;
  }
  .subber1-para p,
  .subber2-para p {
    font-family: "Poppins", sans-serif;
    font-size: normal;
    font-weight: 27px;
    /* text-align: center; */
    font-size: 1.2em;
    padding-top: 20px;
    /* padding-left: 30px; */
  }
  .sub-inner3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 20px;
  }
  .subber2 {
    padding-right: 50px;
  }
  #subber2 {
    padding-right: 100px;
  }
}
@media (min-width: 1300px) {
  .sub-inner3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 20px;
  }
  .sub3-inner {
    padding-right: 20px;
  }
  .subber1-para,
  .subber2-para {
    padding-left: 30px;
  }
  .subber1-para p,
  .subber2-para p {
    font-family: "Poppins", sans-serif;
    font-size: normal;
    font-weight: 27px;
    /* text-align: center; */
    font-size: 1.4em;
    /* padding-top: 20px; */
    /* padding-left: 30px; */
  }
  .subber2 {
    padding-right: 50px;
  }
  .suber2-para {
    padding-left: 30px;
  }
}

@media (max-width: 768px) {
  .sub-inner2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 20px;
    box-sizing: border-box;
  }
  .subber1 #browser {
    padding-right: 50px;
  }
  .subber1,
  .subber2 {
    padding-bottom: 20px;
  }
  .subber1-img img {
    width: 100%;
  }
  .subber1-para p,
  .subber2-para p {
    font-family: "Poppins", sans-serif;
    font-size: normal;
    font-weight: 27px;
    /* text-align: center; */
    font-size: 1.1em;
    padding-top: 15px;
    /* padding-left: 30px; */
  }
  .subber1-para {
    padding-left: 20px;
  }
  .subber2-para {
    padding-left: 10px;
  }
}
@media (max-width: 425px) {
  .sub-inner2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 20px;
  }
  .subber1 #browser {
    padding-right: 0px;
  }
  .sub-inner3 {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 60px;
  }
  .subber2-para {
    padding-left: 30px;
  }
}
@media (max-width: 375px) {
  .sub-inner3 {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 30px;
  }
  .subber2-para {
    padding-left: 30px;
  }
}
@media (max-width: 320px) {
  .sub-inner1 h4 {
    font-size: 1.2em;
    font-style: normal;
    line-height: 36px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }
  .sub-inner3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-top: 20px;
    padding-left: 0px;
  }
  .subber1-p p,
  .subber2-p p {
    font-family: "Poppins", sans-serif;
    font-size: normal;
    font-weight: 27px;
    /* text-align: center; */
    font-size: 1.2em;
    padding-top: 15px;
    /* padding-left: 30px; */
  }
  .subber1-p p,
  .subber2-p p {
    padding-left: 20px;
  }
}
/* End of sub */
.camp {
  padding-top: 30px;
}
.camp-inner1 {
  text-align: center;
  padding-bottom: 20px;
}
.camp-inner1 h4 {
  font-size: 1.5em;
  font-style: normal;
  line-height: 36px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.camp-inner2 {
  padding-top: 20px;
  display: flex;
  flex-flow: row wrap;
}
/* .camp-img {
  width: 350px;
  height: 396px;
} */
.camp.img-img {
  max-width: 100%;
}
@media (min-width: 1020px) {
  .camp-inner2 {
    padding-top: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .camp-inner2 {
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .camp-img {
    margin-bottom: 20px;
  }
}
@media (max-width: 375px) {
  .camp-inner1 h4 {
    font-size: 1.5em;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 36px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }
}
/* End of camp */

.message {
  padding-top: 70px;
}
.message-inner1 {
  text-align: center;
  padding-bottom: 40px;
}
.message-inner1 h4 {
  font-size: 1.5em;
  font-style: normal;
  line-height: 36px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.message-inner2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.message-inner2 input {
  width: 40%;
  height: 40px;
  padding: 10px 30px;
  margin-bottom: 30px;
  border: 1px solid rgb(199, 196, 196);
  border-radius: 4px;
  box-shadow: 0px 0px 1px 1px silver;
}
.message-inner3 {
  display: flex;
  justify-content: center;
}
.message-inner4 {
  display: flex;
  justify-content: center;
}
.message-inner3 input {
  width: 90%;
  height: 40px;
  padding: 10px 30px;
  margin-bottom: 30px;
  border: 1px solid rgb(199, 196, 196);
  border-radius: 4px;
  box-shadow: 0px 0px 1px 1px silver;
}
.message-inner4 textarea {
  width: 90%;
  height: 100px;
  padding: 10px 30px;
  margin-bottom: 40px;
  border: 1px solid rgb(199, 196, 196);
  border-radius: 4px;
  box-shadow: 0px 0px 1px 1px silver;
}
@media (min-width: 1024px) {
  .message-inner2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 20px;
  }
  .message-inner2 input {
    width: 40%;
    height: 50px;
    padding: 10px 30px;
    margin-bottom: 30px;
    border: 1px solid rgb(199, 196, 196);
    border-radius: 4px;
    box-shadow: 0px 0px 1px 1px silver;
  }
  .message-inner3 {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  .message-inner4 {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  .message-inner3 input {
    width: 90%;
    height: 50px;
    padding: 10px 30px;
    margin-bottom: 30px;
    border: 1px solid rgb(199, 196, 196);
    border-radius: 4px;
    box-shadow: 0px 0px 1px 1px silver;
  }
  .message-inner4 textarea {
    width: 90%;
    height: 100px;
    padding: 10px 30px;
    margin-bottom: 30px;
    border: 1px solid rgb(199, 196, 196);
    border-radius: 4px;
    box-shadow: 0px 0px 1px 1px silver;
  }
}
@media (max-width: 425px) {
  .message-inner2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /* padding: 10px 10px; */
  }
  .message-inner2 input {
    width: 95%;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 1px silver;
  }
  .message-inner3 input {
    width: 95%;
    height: 50px;
    padding: 10px 30px;
    margin-bottom: 30px;
    border: 1px solid rgb(199, 196, 196);
    border-radius: 4px;
    box-shadow: 0px 0px 1px 1px silver;
  }
  .message-inner4 textarea {
    width: 95%;
    height: 100px;
    padding: 10px 30px;
    margin-bottom: 30px;
    border: 1px solid rgb(199, 196, 196);
    border-radius: 4px;
    box-shadow: 0px 0px 1px 1px silver;
  }
}
.message-inner5 {
  text-align: center;
  padding-bottom: 20px;
}
.message-inner5 button {
  padding: 10px 60px;
  font-size: 12px;
  font-style: normal;
  line-height: 21px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  border: 1px solid #005eff;
  color: #005eff;
  background-color: #fff;
  border-radius: 4px 4px 4px 4px;
}
@media (max-width: 425px) {
  .message-inner5 button {
    padding: 10px 60px;
    font-size: 12px;
    width: 80%;
    font-style: normal;
    line-height: 21px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    border: 1px solid #005eff;
    color: #fff;
    background-color: #005eff;
    border-radius: 4px 4px 4px 4px;
  }
}
button:hover {
  cursor: pointer;
}
img:hover {
  cursor: pointer;
}
/* End of message */
.download {
  padding-top: 40px;
  padding-bottom: 80px;
}
.download-inner1 {
  text-align: center;
}
.download-inner1 h4 {
  font-size: 1.5em;
  font-style: normal;
  line-height: 36px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.download-inner2 {
  /* padding-top: 20px; */
  text-align: center;
}
.download-inner2 p {
  font-family: "Poppins", sans-serif;
  font-size: normal;
  font-weight: 27px;
  /* text-align: center; */
  font-size: 1.12em;
  padding-top: 15px;
  /* padding-left: 30px; */
}
.download-inner2 #p1 {
  margin-bottom: 0px;
}
.download-inner2 #p2 {
  margin-top: -10px;
}
@media (max-width: 768px) {
  .download-inner2 p {
    font-size: 0.9em;
  }
}
@media (max-width: 425px) {
  .download-inner1 h4 {
    font-size: 1.2em;
  }
  .download-inner2 p {
    font-size: 0.87em;
    font-weight: lighter;
    text-align: center;
    display: inline;
  }
}
@media (max-width: 320px) {
  .download-inner1 h4 {
    font-size: 1.2em;
  }
  .download-inner2 p {
    font-size: 0.745em;
  }
}
.download-inner3 {
  padding-top: 30px;
  text-align: center;
}
.download-inner3 button {
  padding: 10px 25px;
  font-size: 12px;
  font-style: normal;
  line-height: 21px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  border-radius: 4px 4px 4px 4px;
  color: #fff;
  border: 1px solid #005eff;
  background-color: #005eff;
}
/* End of download */
footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #005eff;
}
.footer-inner {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.footer-inner p {
  color: #fff;
  font-size: 24px;
  font-style: 24px;
  line-height: 36px;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 425px) {
  .footer-inner p {
    color: #fff;
    font-size: 16px;
    font-style: 24px;
    line-height: 36px;
    font-family: "Poppins", sans-serif;
  }
}
@media (max-width: 320px) {
  .footer-inner p {
    color: #fff;
    font-size: 12px;
    font-style: 24px;
    line-height: 36px;
    font-family: "Poppins", sans-serif;
  }
}
